body{
  font-family: Kanit !important;
}
#quiz{
  height:90.9vh;
  background-color: #040f0b;
  color:#6cd4cb;
}
.navbar-brand{
  font-size:200% !important;
}


#starter{
  margin:auto;
  width:50%;
  display:flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height:80vh;
}

#starter #cvk-logo{
  width: 100%;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

