*{
  color:#6cd4cb !important;
  font-family: Kanit !important;
}

#quiz{
  height:100vh;
  background-color: #040f0b;
}
.navbar-brand{
  font-size:200% !important;
}


#starter{
  margin:auto;
  width:50%;
  display:flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height:80vh;
}

#starter #cvk-logo{
  width: 100%;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.questionBox{
  margin:auto;
  width: 75%;

}

.form-control{
  color:black !important;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 2000ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 2000ms;
}